tf_env/
.vscode/
data/
app/*.keras
app/*.pyc
.DS_Store
*.hdf5
__pycache__/
ffmpeg-8.0-essentials_build/
imgs/
rule/
compact_cnn/
1_Source_Data/
Document_library/
*.model
*.exe
*.h5
*.log
*.ckpt
*.tflite
*.pb
*.zip
*.tar.gz
*.wav
*.npy
*.npz
*.csv
*.pth
*.ipynb_checkpoints
.env
.env.local
.env.*.local
data/
.env
app/.env
#envはAPIキー入れてるから絶対に上げないで。セキュリティ的にやばい